
.projects {
  color: #353535;
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
}

.projectsHeader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 180px;
  font-weight: bolder;
  color: lightgray;
}

.projectsWrapper {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;

}

.projectCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#arrowDown {
  position: absolute;
  font-size: 70px;
  bottom: 0;
  margin: auto;
}